.small {
    @apply m-auto w-4/5 lg:w-[400px]
}

.large {
    @apply m-auto w-4/5 lg:w-[992px]
}

.full-width {
    @apply w-full flex flex-col
}
.watch-video-width {
    @apply m-auto w-3/5 max-w-[1440px]
}