<div class="modal fixed inset-0 z-50 w-screen h-screen"  [class.popup-show]="config.isShowPopup" (ReturnMessage)="getReturnMessage($event)">
    <div class="modal-dialog flex absolute inset-0 w-screen h-screen z-50 overflow-x-hidden overflow-y-auto pointer-events-none">
      <div class="modal-content border botder-[#707070] rounded-[6px] shadow-active-shadow relative z-[45] pointer-events-auto" 
       [ngClass]="{
        'small':config.popupFor == 'small', 
        'large': config.popupFor == 'large', 
        'full-width':config.popupFor == 'fullWidth',
        'watch-video-width':config.popupFor == 'watch-video-width'}">     
        <div class="modal-header relative rounded-t-[6px]"  [ngClass]="config.isClose==false ? 'hidden' : ''">         
          <button ID="btnClose" (click)="close()" class="btn-close absolute z-10" [ngClass]="{
            'top-0 right-0 -translate-y-1/2 translate-x-1/2': config.popupFor == 'watch-video-width',
            'top-2.5 right-2.5': config.popupFor == 'small' || config.popupFor == 'large' || config.popupFor == 'fullWidth'
          }">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="clear-circle" transform="translate(-2.408 -2.408)">
                  <circle id="Ellipse_5" data-name="Ellipse 5" cx="15" cy="15" r="15" transform="translate(2.408 2.408)"/>
                  <path id="Path_12" data-name="Path 12" d="M9,9l9.605,9.605" transform="translate(3.605 3.605)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path id="Path_13" data-name="Path 13" d="M18.605,9,9,18.605" transform="translate(3.605 3.605)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <circle id="Ellipse_4" data-name="Ellipse 4" cx="14" cy="14" r="14" transform="translate(3.408 3.408)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </g>
              </svg>
          </button>
          <h3 *ngIf="config.isShowHeaderText" class="text-xl text-white truncate pr-12 pl-5 py-2.5 rounded-t-[6px]" [ngClass]="config.header=='Add a new Tag' || 'Confirm'?'bg-[#2953b3]':'bg-flp_accent'" title="{{config.header}}">{{config.header}}</h3>         
        </div>
        <div class="modal-header relative bg-flp_background h-[40px]" [ngClass]="config.isClose==true ? 'hidden' : ''">         
          <button ID="btnClose" title="Go to Back" (click)="close()" class="btn-close h-full flex items-center w-12 absolute left-0 top-0">
            <span class="flex items-center gap-2 ml-3">
              <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="5.508" height="9.016" viewBox="0 0 5.508 9.016">
                      <defs>
                          <style>
                              .a {
                                  fill: #fff;
                              }
                          </style>
                      </defs>
                      <g transform="translate(-464.007 -28.99)">
                          <path class="a" d="M469.22,37.72a.952.952,0,0,0,0-1.377L466.281,33.5l2.939-2.846a.952.952,0,0,0,0-1.377,1.029,1.029,0,0,0-1.422,0l-3.39,3.283a1.3,1.3,0,0,0,0,1.88l3.39,3.283A1.028,1.028,0,0,0,469.22,37.72Z"></path>
                      </g>
                  </svg>
              </span>
              <span class="text-xs font-bold uppercase tracking-widest">BACK</span>
            </span>
          </button>
          <!-- <h3 *ngIf="config.isShowHeaderText" class="text-base font-bold text-center leading-[50px] truncate px-14 py-2.5" title="{{config.header}}">{{config.header}}</h3>          -->
        </div>            
        <div class="modal-body bg-white rounded-b-[6px]">
            <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="modal-overlay absolute inset-0 w-full h-screen z-40 bg-white/80 backdrop-blur-sm"></div>
</div>

